<!DOCTYPE html>
<html>
<head>
  <title>SimpleShortner</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
   <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <%= render 'layouts/header' %>

          <div class="inner cover">
              <%= yield %>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>
              This link shortner designed and built by Jennifer L. Hamon.  Contact her at <a href="http://www.hamon.io">jen@hamon.io</a>
              </p>
            </div>
          </div>

        </div>

      </div>

    </div>

</body>
</html>
